!!!
%html
  %head
    :css
      h3 { margin-top: 0 }
      .sidebar { float:left; width: 15%; font-size: small }
      .main { margin-left: 32%; width: 65% }
      ul { list-style-type: none; margin-left: 0; padding-left: 0 }
      .page-count { font-size: smaller; color: #CCC }

  %body
    .sidebar
      %h3 Namespaces
      %ul
        - namespaces.each do |namespace, count|
          %li
            %a{:href => "../#{namespace}/index.html"}= namespace 
            %span.page-count
              = count
    .sidebar
      %h3= namespace
      %ul
        - pages.each do |page|
          %li
            %a{:href => "#{page}.html"}= page
    .main
      %h2= title
      - if markdown
        != body.to_html
      - else
        %pre= body
